@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #1c0ee3;
    text-align: left;
    margin: 0;
    padding-bottom: 100px;;
}

.home-page-header {
    color: #ffffff;
    font-family: 'Alfa Slab One', serif;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Adjust this value to create more or less space */
}

.login-form, .register-form {
    background-color: #7743de;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: 0 10px; /* Add some space between the forms */
}

.dashboard-header {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}

.post-form-h2 {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}

.post-form {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #7743de;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff; 
    border-radius: 10px;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
}

.post-form textarea {
    font-family: 'Bebas Neue', cursive;
    width: 80%; 
    height: 50px; 
}

.post {
    font-family: 'Bebas Neue', cursive;
    border: 1px solid; 
    background-color: white; 
    padding: 10px; 
    margin-bottom: 20px; 
}

.post-title, .post-content, .post-author {
    font-size: 2em; 
    width: 100%; 
}

.post-title {
    border-bottom: 1px solid; 
}

.post-content {
    margin-bottom: 20px; 
}