@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    background-color: #948ded;
    text-align: left;
    margin: 0;
    padding: 0;
}

.home-page-header {
    color: #51d1ee;
    font-family: 'Alfa Slab One', serif;
    font-size: 20px;
    text-align: center;
}

.login-form {
    justify-content: center;
    background-color: #0d3f4a;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
}