@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #1c0ee3;
    text-align: left;
    margin: 0;
    padding-bottom: 400px;
}


/* Index/login page styles */

.home-page-header {
    color: #ffffff;
    font-family: 'Alfa Slab One', serif;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}

/* Login/ logout and register forms */

.form-container {
    display: flex;
    justify-content: center;
    
}

.login-form, .register-form {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    background-color: #7743de;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: 0 10px; 
}

.index-page-logout {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 20px auto; 
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}

/* Dashboard page styles */

.dashboard-header {
    cursor: pointer;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}


/* Post form and post styles */
.posts-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

.post {
    display: none;
    font-family: 'Bebas Neue', cursive;
    border: 1px solid; 
    background-color: white; 
    padding: 10px; 
    margin-bottom: 20px; 
}

.post-title, .post-content, .post-author {
    font-size: 2em; 
    width: 100%; 
}

.post-title {
    border-bottom: 1px solid; 
}

.post-content {
    margin-bottom: 20px; 
}

.dashboard-h2 {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
    border: 5px solid #ffffff;
}

/* Author-post form styles */

.post-form {
    position: fixed; 
    bottom: 0; 
    height: 50vh; 
    width: 50%; 
    background-color: #7743de;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff; 
    border-radius: 10px;
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    overflow: auto; 
}

.title-bubble {
    background-color: #7743de;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; 
}

.content-area {
    flex-grow: 1; 
    padding-bottom: 5%;
    overflow: auto; 
}

.post-form textarea {
    font-family: 'Bebas Neue', cursive;
    width: 100%; 
    height: 200px; 
}

/* Post submit button styles */
.post-submit-button {
    display: block;
    width: 200px; 
    height: 50px;
    line-height: 50px; 
    margin: 20px auto; 
    background-color: #ffffff;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
    border: 5px solid #ffffff;
    z-index: 9999;
}

.edit-post-title {
    background-color: #7743de;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff; 
    border-radius: 10px;
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    overflow: auto; 
}

.edit-post-form {
    position: fixed; 
    bottom: 0; 
    height: 50vh; 
    width: 50%; 
    background-color: #7743de;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff; 
    border-radius: 10px;
    padding: 10px;
    display: flex; 
    flex-direction: column; 
    align-items: stretch; 
    overflow: auto; 
}

/* and so on for the other elements */