{% extends "layout.html" %}
{% block title %}Dashboard -

{% endblock %}

{% block content %}

<!-- Displays dashboard header welcoming user by their login name-->
<header class="dashboard-header">
<h1>DASHBOARD</h1>
<h2>Welcome {{ current_user.username }}</h2>
</header>

<!-- to display post  updates -->
<h2 class="post-form-h2">Post here</h2>

<!-- Displays post updates (Users can delete their own posts)-->
{% for post in posts %}
    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-author">Posted by: {{ post.author }}</p>
        {% if post.author == current_user.username %}
            <form method="POST" action="{{ url_for('delete_post', post_id=post._id) }}">
                <input type="submit" value="Delete">
            </form>
        {% endif %}
    </div>
{% endfor %}

<!-- Create post form -->
<form method="POST" action="{{ url_for('dashboard') }}" class="post-form">    
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br>
    <input type="submit" value="Submit">
</form>

<!-- Logout button -->
<form action="{{ url_for('logout') }}" method="POST">
    <input type="submit" value="Logout">
</form>

{% endblock %}