{% extends "layout.html" %}
{% block title %}Dashboard -

{% endblock %}

{% block content %}

<!-- Displays dashboard header welcoming user by their login name-->

<header class="dashboard-header">
    <h1>DASHBOARD</h1>
</header>

<!-- to display post  updates -->
<h2 class="dashboard-h2">Welcome {{ current_user.username }} Post here</h2>
<!-- Logout button -->
<a href="{{ url_for('logout') }}" class="index-page-logout">Logout</a>

<!-- Displays post updates (Users can delete their own posts)-->

<div class="posts-container">

{% for post in posts %}
    <div class="post">
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-author">Posted by: {{ post.author }}</p>
        {% if post.author == current_user.username %}
            <form method="POST" action="{{ url_for('delete_post', post_id=post._id) }}">
                <input type="submit" value="Delete">
                <a href="{{ url_for('edit_post', post_id=post._id) }}">Edit Post</a>
            </form>
        {% endif %}
    </div>
{% endfor %}
</div>

<!-- Create authors post form -->
<form method="POST" action="{{ url_for('dashboard') }}" class="post-form">    
    <div class="title-bubble">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
    </div>
    <div class="content-area">
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" required></textarea><br>
    </div>
    <input type="submit" value="Submit" class="post-submit-button">
</form>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script.js')}}"></script>


{% endblock %}