{% extends "layout.html" %}

{% block title %}Page Title{% endblock %}

{% block content %}
<div class="home-page-header">   
    <h1>Welcome to Chatter</h1>
    <h2>Please login, or create account</h2>
</div>
    
<div class="login-form">
    <form action="{{ url_for('login') }}" method="post">
        <p><input type="text" name="username" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="submit" value="Log In"></p>
     </form>
</div>

<div class="register-form">
    <h2>Create a new account</h2>
    <form action="{{ url_for('register') }}" method="post">
        <p><input type="text" name="username" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <p><input type="submit" value="Register"></p>
    </form>
</div>

<a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}