{% extends "layout.html" %}

{% block title %}Page Title{% endblock %}

{% block content %}
<div>
    <!-- Specific content for this page -->
    <h1>Hello, Flask!</h1>

    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}
