<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Blog</title>
</head>
<body>
    <div id=""particles-js"></div>

    <header>
        <h1 class="main-header">MAIN SITE HEADER</h1>
    </header>
    <div id=""content">
    {% block content %}{% endblock %} 
    </div>

    <footer>

    </footer>

    <!-- Scripts -->
    <!-- particles.js library-->
    <script src="/static/particles.js"></script>
    <!-- JS-->
    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>
