<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Application</title>
</head>
<body>

    <!-- Content to be inherited across site HTML-->
    
    <div id="site-content">
    {% block content %}{% endblock %} 
    </div>

    <!-- Footer -->
    
    <footer class="site-footer">
        <a href="https://github.com/JoeMille" class="footer-link">GitHub</a>
        <a href="https://linkedin.com" class="footer-link">LinkedIn</a>
        <a href="https://youtube.com" class="footer-link">YouTube</a>
        <a href="https://twitter.com" class="footer-link">Twitter</a>
    </footer>

    <!-- Scripts --> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>


</body>
</html>
